/* https://stackoverflow.com/a/47698201/4564359 */
.card-img-top {
  width: 80%;
  object-fit: cover;
}

.song-card .img-container {
  height: 215px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 10px;
}

.new-song-card {
  border: black;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  padding: 10px;
  width: 18rem;
  min-height: 18rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.song-card {
  border: black;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  padding: 10px;
  width: 18rem;
  height: 100%;
  background-color: rgb(235, 235, 235);
}

.card-body {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.card-body .comment {
  margin-right: 10px;
  margin-left: 10px;
}

.card-body .friend-comment {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  padding: 10px;
  margin-bottom: 10px;
}

.card-body .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
  padding-right: 10px;
}