.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.searchbox-container {
  margin-left: auto;
}

.App-header .title {
  font-size: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

#search-box{
  color: white;
}

.search-song {
  color: black;
  font-size: 15px;
}

.search-song .selected {
  border-style: solid;
  border-color: green;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.search-song .unselected {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.search-song .album-cover {
  width: 25%;
  height: 25%;
  object-fit: cover;
}

.search-song .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.authBtn{
  margin-right: 10px;
}